.col-id             { width: 60px; }
.col-status         { width: 120px; }
.col-action         { width: 180px; }
.option-num         { width: 24px; }
.option-order-input { width: 80px; }
.col-opt-num        { width: 50px; }
.col-opt-responses  { width: 130px; }
